a {
    color: #008CFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Загальна структура */
section.blogs {
    display: flex;
    gap: 20px;
    padding: 20px;


    .left-content {
        flex: 1.5;  /* Зменшуємо ліву колонку */

        .blogs-list {
            list-style: none;
            padding: 0;

            .blog-card {
                padding: 15px;
                border-radius: 8px;

                h4 {
                    margin: 0 0 10px;
                }

                p {
                    font-size: 20px;
                    margin: 0 0 10px;
                }
            }
        }
    }
    
    .right-content {
        flex: 1.4;  /* Збільшуємо праву колонку */
        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
            max-width: 100%;
            border-radius: 5px;
        }
        
        h2 {
            margin: 5px;
        }

        p {
            margin: 5px;
            text-wrap: pretty;
        }
    }
}

@media (max-width: 1024) {
    section.blogs {
        margin-left: 60px;
        margin-right: 60px;
        .left-content {
            .blogs-list {
                .blog-card {
                    padding: 5px;

                    h4 {
                        font-size: 22px;
                    }

                    P {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    section.blogs {
        .right-content {
            display: none;
        }
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (max-width: 450px) {
    section.blogs {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 500px) {
    section.blogs {
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        .left-content {
            .blogs-list {
                .blog-card {
                    padding: 3px;

                    h4 {
                        font-size: 18px;
                    }

                    P {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}