.contact-form-section {
    display: flex;
    background-color: none;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

/* Контейнер форми */
.contact-form-container {
    background-color: #BAB1B1; /* Фон контейнера */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
}

/* Заголовок форми */
.contact-form-container h2 {
    font-size: 24px;
    color: #353535;
    text-align: center;
    margin-bottom: 20px;
}

/* Групи полів */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    color: #353535;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    padding: 10px;
    font-size: 20px;
    color: #353535;
    border: 1px solid #353535;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s;
}

.form-group select option {
    color: #353535; /* Колір тексту опцій */
    font-size: 20px;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #008CFF;
}

/* Стилі для кнопки */
.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #353535;
    background-color: transparent;
    border: 1px solid #353535;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.submit-button:hover {
    background-color: #353535;
    color: #FCFCFC;
    border-color: #353535;
}

/* Адаптивність для мобільних пристроїв */
@media (max-width: 768px) {
    .contact-form-container {
        padding: 30px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .submit-button {
        font-size: 16px;
        padding: 8px;
    }
}
