/* Загальні стилі для секції послуг */
.services {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Карточка послуги */
.service-card {
    background-color: #D9D9D9; /* Світлий фон картки */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    min-height: 500px;
    width: 30%; /* Три картки в одному ряду */
    text-align: center;
}

/* Заголовок картки */
.service-card-h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #353535; /* Темний текст */
}

span.price{
    display: block;
    font-weight: bold;
    color: #353535;
    margin-bottom: 15px;
    min-height: 60px;
}

/* Текстовий опис */
.service-card p {
    font-size: 18px;
    line-height: 2;
    margin-bottom: 15px;
    min-height: 350px;
    color: #353535; /* Темний текст */
}

/* Кнопка */
button {
    background-color: #BAB1B1; /* Світло-коричневий */
    color: #353535;
    font-size: 28px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 24px
}

button:hover {
    background-color: #917d7d; /* Темніший відтінок для hover */
}


@media (max-width: 1100) {

    .services {
        background-color: #BAB1B1;
        overflow-x: auto;
        gap: 10px;
        margin: 40 0px;
        
       .service-card {
            min-width: 280px;

            h3 {
                font-size: 16px;
                font-weight: 500;
            }

            p {
                font-size: 14px;
                min-height: 280px;
            }

            span.price {
                min-height: 40px;
            }
            a button {
                margin: 16px;
                font-size: 18px;
            }
       }
    }
}