main .starter-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-content {
    width: 80%;
    max-width: 900px;

    h2 {
        font-size: 30px;
        margin-bottom: 15px;
        color: #fcfcfc;
    }

    ul {
        list-style-type: disc;
        margin-left: 22px;
        color: #fcfcfc;
        line-height: 1.4;

        li {
            font-size: 28px;
        }
    }

    p {
        margin-top: 15px;
        color: #fcfcfc;
        line-height: 1.5;
        max-width: 600px;
        font-size: 28px;
    }
}
.right-content {
    padding-left: 100px;
    h3 {
        margin: 10 0px;
    }

    p {
        display: flex;
        text-wrap: nowrap;
        margin: 15 0px;
    }
}

@media (max-width: 1180) {
    .starter-page {
        margin-left: 60px;
        margin-right: 60px;
    }
    .left-content {
        max-width: 500px;
    }
    .right-content {
        max-width: 550px;
        padding: 20px;
    }

    .main-image {
        max-width: 100%;
        height: auto;
    }
    p {
        font-size: 20px;
    }

    .left-content {
        h2 {
            margin-bottom: 5px;
            font-size: 24px;
            font-weight: 500;
        }

        ul {
            li {
                font-size: 20px;
            }
        }

        p {
            font-size: 20px;
        }
    }

    .right-content {
        h3 {
            font-weight: 500;
            font-size: 22px;
            white-space: nowrap;
        }

        .carousel-indicators {
            margin-top: 8px;
        }
    }
}

@media (max-width: 850) {
    .starter-page {
        margin-left: 50px;
        margin-right: 50px;
    }

    .left-content {
        p {
            font-size: 18px;
        }

        h2 {
            font-size: 22px;
            font-weight: 500;
        }

        ul {
            li {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 680px) {
    main {
        margin-top: 20px;
    }
    .starter-page {
        margin-left: 40px;
        margin-right: 40px;
        flex-direction: column;
        padding: 20px;
        .left-content {
            order: 2;
            h2 {
                margin-bottom: 5px;
                font-size: 20px;
                font-weight: 500;
            }

            li {
                font-size: 18px;
            }

            p {
                font-size: 18px;
            }
        }

        .right-content {
            padding-left: 0px;

            h3 {
                font-weight: 500;
            }
        }
    }
}

@media (max-width: 450px) {
    .starter-page {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 370px) {
    .starter-page {
        margin-left: 15px;
        margin-right: 15px;

        p {
            font-size: 12px;
        }

        .left-content {
            h2 {
                margin-bottom: 5px;
                font-size: 14px;
                font-weight: 500;
            }

            ul {
                li {
                    font-size: 12px;
                }
            }

            p {
                font-size: 12px;
            }
        }

        .right-content {
            h3 {
                font-weight: 500;
                font-size: 16px;
                white-space: nowrap;
            }

            .carousel-indicators {
                margin-top: 8px;
            }
        }
    }
}
